{% extends 'second_layout.html' %} {% block content %}
<main id="main">
    <div class = "showcase">
        <div class = "bgslide">
            <header style="height:90px;">
                <div class = "nav">
                    <div class = "logo">
                        <a href = "{{ url_for('movies_bp.login_home') }}" class = "img_btn">
                        <img src="../../static/img/CS235Flixlogo.png" alt="CS235flix"></a>
                    </div>
                </div>
                <div class="formwrapper_search">
                    <form action="{{handler_url}}" method="post">
                        {{form.csrf_token}} <!-- Need to include this token - Flask WTForms requires it. -->
                        {{form.search(size = 25, placeholder="Search Movie, Director, or Actor", class="textarea", cols="50", rows="1", wrap="hard")}}
                        <button type="submit" class="search_icon"><img src="../../static/img/search-icon.png" alt="submit"></button>
                        {% if form.search.errors %}
                            <ul class="errors">
                            {% for error in form.search.errors %}
                                <li>{{error}}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </form>
                </div>
                <div class = "logout">
                    <a href = "{{ url_for('authentication_bp.logout')}}" class="btn btn-rounded">Logout</a>
                </div>
            </header>
            <div class="movie_poster">
                <h1 style="padding-left:3%; font-size:50px;">{{name}}</h1>
                <h2 style="padding-left:3%; font-size:25px;color:#9c9a9a;padding-bottom:2%;">{{a_class}}</h2>
                <hr>
                <div class="movie-grid">
                    {% for movie in movies %}
                    <div class="popular_movie">
                        <a href = "{{url_for('movies_bp.movie_detail',rank=movie.rank)}}">
                            {%if movie.image_hyperlink != 'None'%}
                            <img src="{{movie.image_hyperlink}}" alt="no image found">
                            {%else%}
                            <img src="../../static/img/no-image.png">
                            {%endif%}
                        </a>
                        <h1>{{movie.title}}<br>{{movie.rating}}/10</h1>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}



