{% extends 'first_layout.html' %} {% block content %}
<main id="main">
    <div class = showcase-top>
        <a href = "{{ url_for('home_bp.home') }}" class = "img_btn">
            <img src="../../static/img/CS235Flixlogo.png" alt="CS235flix"></a>
    </div>
    <div class="formwrapper">
        <h2 class="title">{{ title }}</h2>
        <form method="POST" action="{{ handler_url }}">
             {{ form.csrf_token }} <!-- Need to include this token - Flask WTForms requires it. -->
            <div class="form-field">
                {{ form.username }}
                <label>{{ form.username.label }}</label>
                {% if form.username.errors or username_error_message is not none %}
                    <ul class="errors">
                        {% if username_error_message is not none %}
                            <li>
                                {{ username_error_message }}
                            </li>
                        {% endif %}
                        {% for error in form.username.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="form-field">
                {{ form.password }}
                <label>{{ form.password.label }}</label>
                {% if form.password.errors or password_error_message is not none %}
                    <ul class="errors">
                        {% if password_error_message is not none %}
                            <li>
                                {{ password_error_message }}
                            </li>
                        {% endif %}
                        {% for error in form.password.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            {{ form.submit }}
            {% if title == 'Login' %}
                <a href="{{ url_for('authentication_bp.register') }}">New to CS235Flix?</a>
            {% else %}
                <a href="{{ url_for('authentication_bp.login') }}">Already a member?</a>
            {% endif %}

        </form>
    </div>
</main>
{% endblock %}

